POCKETID_SECRET=xyz=
ENCRYPTION_KEY=xyz=

POSTGRES_PASSWORD=
GTS_DB_PASSWORD=

GTS_OIDC_CLIENT_ID=
GTS_OIDC_CLIENT_SECRET=

TUWUNEL_IDENTITY_PROVIDER__0__DEFAULT=true
TUWUNEL_IDENTITY_PROVIDER__0__CLIENT_ID=
TUWUNEL_IDENTITY_PROVIDER__0__CLIENT_SECRET=
TUWUNEL_IDENTITY_PROVIDER__0__ISSUER_URL=https://auth.dariush.dev/
TUWUNEL_IDENTITY_PROVIDER__0__CALLBACK_URL=https://matrix.dariush.dev/_matrix/client/unstable/login/sso/callback/<client-id>
TUWUNEL_IDENTITY_PROVIDER__0__TRUSTED=true
TUWUNEL_IDENTITY_PROVIDER__0__REGISTRATION=false
TUWUNEL_IDENTITY_PROVIDER__0__SCOPE=["openid", "profile", "email"]
TUWUNEL_IDENTITY_PROVIDER__0__USERID_CLAIMS=["preferred_username"]
TUWUNEL_IDENTITY_PROVIDER__0__UNIQUE_ID_FALLBACKS=false
