services:
  caddy:
    image: docker.io/library/caddy:alpine
    container_name: caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    networks:
      - web
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:Z
      - ./caddy/data:/data:Z
      - ./caddy/config:/config:Z

  pocketid:
    image: ghcr.io/pocket-id/pocket-id:v1
    container_name: pocketid
    restart: always
    networks:
      - web
    environment:
      - APP_URL=https://auth.dariush.dev
      - ENCRYPTION_KEY=${POCKETID_SECRET}
    # Ports removed; only accessible via internal network
    volumes:
      - ./pocketid:/app/data:Z

  kuma:
    image: docker.io/louislam/uptime-kuma:latest
    container_name: kuma
    restart: always
    networks:
      - web
    # Ports removed
    volumes:
      - ./kuma:/app/data:Z

  tuwunel:
    image: docker.io/jevolk/tuwunel:main-release-all-aarch64-v8-linux-gnu
    container_name: tuwunel
    restart: always
    networks:
      - web
    environment:
      - TUWUNEL_SERVER_NAME=dariush.dev
      - TUWUNEL_DATABASE_PATH=/var/lib/tuwunel
      - TUWUNEL_DATABASE_BACKEND=sqlite
      - TUWUNEL_PORT=8008
      - TUWUNEL_ADDRESS=0.0.0.0
      - TUWUNEL_MAX_REQUEST_SIZE=20000000
      
      # Registration Settings
      - TUWUNEL_ALLOW_REGISTRATION=false
      #- TUWUNEL_REGISTRATION_TOKEN=Purple-Monkey-Dishwasher-2025
      # Removed the "YES I AM SURE" flag because we are now safe(r)
      
    volumes:
      - ./tuwunel:/var/lib/tuwunel:Z
networks:
  web:
    driver: bridge
