{
    email dkomeili@proton.me
}

auth.dariush.dev {
    reverse_proxy pocketid:1411
}

status.dariush.dev {
    reverse_proxy kuma:3001
}

matrix.dariush.dev {
    uri replace /_matrix/client/r0/login/sso/redirect /_matrix/client/v3/login/sso/redirect
    reverse_proxy tuwunel:8008
}