[Unit]
Description=Caddy Reverse Proxy
After=network-online.target

[Container]
Image=docker.io/library/caddy:2-alpine
Label=io.containers.autoupdate=registry
ContainerName=caddy
Network=web.network
PublishPort=80:80
PublishPort=443:443
Volume=/mnt/data/infra/caddy/Caddyfile:/etc/caddy/Caddyfile:Z
Volume=/mnt/data/infra/caddy/data:/data:Z
Volume=/mnt/data/infra/caddy/config:/config:Z

[Service]
Restart=always

[Install]
WantedBy=default.target
