[Unit]
Description=Restic Backup to R2
# This line is the magic. It forces the prepare script to run first.
Requires=prepare-backup.service
After=prepare-backup.service

[Container]
Image=docker.io/restic/restic
# Mount the folder created by your script
Volume=/mnt/data/backup-dump:/data:ro,Z
# Map the secrets
Secret=r2_access_key,type=env,target=AWS_ACCESS_KEY_ID
Secret=r2_secret_key,type=env,target=AWS_SECRET_ACCESS_KEY
Secret=restic_password,type=env,target=RESTIC_PASSWORD

# Restic Env Vars
Environment=RESTIC_REPOSITORY=s3:https://c17304207a18c9ec68ab5862e5010843.r2.cloudflarestorage.com/oracle-vps-backup
Environment=RESTIC_HOST=oracle-linux-user

# Commands: Backup, then clean up old snapshots
Entrypoint=/bin/sh
Exec=-c "restic backup /data --host oracle-linux-user && restic forget --keep-daily 30 --prune"

[Service]
Restart=on-failure
RestartSec=5m
